<div class="jumbotron mt-5">
    <h1 class="display-4 text-center">Welcome to Random Movie</h1>
    <p>This Web Application based on .NET Core 3.1 and MVC. It is about CRUD on Movie files, with one more function called it Pick, that select a random movie.</p>
</div>
